%h4
  எமது சேவைகளின் நிறை குறைகளையும், தங்களது மனந்திறந்த  கருத்துக்களையும்  கீழ்கண்ட படிவத்தில் பதிவு செய்யலாம். மேலும் விவரங்களுக்கு aramseyavirumbu[அட்]gmail.com என்ற முகவரியை அணுகலாம்.
= simple_form_for :comment, :url => comments_path, :remote => true do |c|
  = c.input :name, :label => 'பெயர்/Name'
  = c.input :email, :label => 'மின்னஞ்சல்/Email', :required => false 
  = c.input :comment, :as => :text, :label => 'கருத்துரை/Comments'
  = c.button :submit, :class => 'save_button', :value => t(:save_button)
