- if changed_attributes.include? attribute
  = label(:wiki_version, attribute)
  #differ= raw generate_diff(wiki_version.send(attribute), wiki_version.wiki.send(attribute))
  - unless attribute == :tamil_long_desc
    = wiki_form.text_field attribute
  - else
    = wiki_form.text_area attribute
- else
  = label(:wiki_version, attribute)
  = wiki_version.send(attribute)