= stylesheet_link_tag 'compiled/admin'
= render :partial => 'common/indic'

- unless flash.now[:error].blank?
  .error= flash.now[:error]
- else
  .revision_user_info
    .sub_heading கீழ்கண்ட மாற்றங்களை முன்வைத்தவர்
    மின்னஞ்சல்
    = @wiki_version.user.email
  = form_for @wiki_version, :url => admin_update_wiki_path(@wiki_version) do |wiki_form|
    -#= w.button :submit, :class => 'save_button', :value => 'மாற்றத்தை சேமி'
    .clear

    - @wiki_version.wiki_attributes.keys.each do |attribute|
      %p.wiki_revision_attribute
        = render :partial => 'edit_with_diff', :locals => {:wiki_version => @wiki_version, :attribute => attribute.to_sym,
                                             :changed_attributes => @changed_attributes, :wiki_form => wiki_form}


  -#= w.button :submit, :class => 'save_button', :value => 'மாற்றத்தை சேமி'
