= stylesheet_link_tag 'compiled/admin'
= render :partial => 'common/google_transliterate'

:javascript
  makeTransliteratable(['wiki_version_tamil_short_desc', 'wiki_version_tamil_long_desc']);

- unless flash.now[:error].blank?
  .error= flash.now[:error]
- else
  - user = @wiki_version.user
  .revision_user_info
    .sub_heading
      %span.photo
        %img.profile_photo{:src => "#{user.photo || '/images/default_photo.png' }"}
      .user_details
        %ul
          %li
            %b
              = user.name
              = "| #{user.email}" if user.email.present?
          %li
            ஏற்றுக்கொண்ட திருத்தங்கள்:
            = user.accepted_count
          %li
            மறுக்கப்பட்ட திருத்தங்கள்:
            = user.rejected_count
  .clear
  = form_for @wiki_version, :url => admin_update_wiki_path(@wiki_version) do |wiki_form|

    = render :partial => 'action_buttons'

    - Wiki.essential_attribute_names.each do |attribute|
      %p.wiki_revision_attribute
        = render :partial => 'edit_with_diff', :locals => {:wiki_version => @wiki_version, :attribute => attribute.to_sym,
                                             :changed_attributes => @changed_attributes, :wiki_form => wiki_form}

    = render :partial => 'action_buttons'

