
      <%= javascript_include_tag 'intro_pop_up' %>
      <%= javascript_include_tag 'heading_highlight' %>

              <div id="intro">
              <span class='heading'>கடவுள் வாழ்த்து </span>

              <span class='prayer'>

                ஆத்தி சூடி அமர்ந்த தேவனை <br/>
                ஏத்தி ஏத்தித் தொழுவோம் யாமே.

              </span>

              </div>

              <div id="content">

              <span class='heading'> உயிர் வருக்கம் </span>

            <p> <%= generate_paadal_heading(1, "<span class='h2'>அ</span>றம் செய விரும்பு.")  %>
            <p>   <%=generate_paadal_heading(2, "<span class='h2'>ஆ</span>றுவது சினம்.") %>
            <p>   <%=generate_paadal_heading(3, "<span class='h2'>இ</span>யல்வது கரவேல்.") %>
            <p>   <%=generate_paadal_heading(4, "<span class='h2'>ஈ</span>வது விலக்கேல்.") %>
            <p>   <%=generate_paadal_heading(5, "<span class='h2'>உ</span>டையது விளம்பேல்.") %>
            <p>   <%=generate_paadal_heading(6, "<span class='h2'>ஊ</span>க்கமது கைவிடேல்.") %>
            <p>   <%=generate_paadal_heading(7, "<span class='h2'>எ</span>ண் எழுத்து இகழேல்.") %>
            <p>   <%=generate_paadal_heading(8, "<span class='h2'>ஏ</span>ற்பது இகழ்ச்சி.") %>
            <p>   <%=generate_paadal_heading(9, "<span class='h2'>ஐ</span>யம் இட்டு உண்.") %>
            <p>   <%=generate_paadal_heading(10, "<span class='h2'>ஒ</span>ப்புரவு ஒழுகு.") %>
            <p>   <%=generate_paadal_heading(11, "<span class='h2'>ஓ</span>துவது ஒழியேல்.") %>
            <p>   <%=generate_paadal_heading(12, "<span class='h2'>ஔ</span>வியம் பேசேல்.") %>
            <p>   <%=generate_paadal_heading(13, "<span class='h2'>அஃ</span>கஞ் சுருக்கேல்.") %>
            </a>
        <br/>
              <span class='heading'> உயிர்மெய் வருக்கம் </span>


    <p>   <%=generate_paadal_heading(14, "<span class='h2'>க</span>ண்டொன்று சொல்லேல்.") %>
    <p>   <%=generate_paadal_heading(15, "<span class='h2'>ங</span>ப் போல் வளை.") %>
    <p>   <%=generate_paadal_heading(16, "<span class='h2'>ச</span>னி நீராடு.") %>
    <p>   <%=generate_paadal_heading(17, "<span class='h2'>ஞ</span>யம்பட உரை.") %>
    <p>   <%=generate_paadal_heading(18, "<span class='h2'>இ</span>டம்பட வீடு எடேல்.") %>
    <p>   <%=generate_paadal_heading(19, "<span class='h2'>இ</span>ணக்கம் அறிந்து இணங்கு.") %>

    <p>   <%=generate_paadal_heading(20, "<span class='h2'>த</span>ந்தை தாய்ப் பேண்.") %>
    <p>   <%=generate_paadal_heading(21, "<span class='h2'>ந</span>ன்றி மறவேல்.") %>
    <p>   <%=generate_paadal_heading(22, "<span class='h2'>ப</span>ருவத்தே பயிர் செய்.") %>
    <p>   <%=generate_paadal_heading(23, "<span class='h2'>ம</span>ண் பறித்து உண்ணேல்.") %>
    <p>   <%=generate_paadal_heading(24, "<span class='h2'>இ</span>யல்பு அலாதன செய்யேல்.") %>
    <p>   <%=generate_paadal_heading(25, "<span class='h2'>அ</span>ரவம் ஆட்டேல்.") %>

    <p>   <%=generate_paadal_heading(26, "<span class='h2'>இ</span>லவம் பஞ்சில் துயில்.") %>
    <p>   <%=generate_paadal_heading(27, "<span class='h2'>வ</span>ஞ்சகம் பேசேல்.") %>
    <p>   <%=generate_paadal_heading(28, "<span class='h2'>அ</span>ழகு அலாதன செய்யேல்.") %>
    <p>   <%=generate_paadal_heading(29, "<span class='h2'>இ</span>ளமையில் கல்.") %>
    <p>   <%=generate_paadal_heading(30, "<span class='h2'>அ</span>றனை மறவேல்.") %>
    <p>   <%=generate_paadal_heading(31, "<span class='h2'>அ</span>னந்தல் ஆடேல்.") %>
    </a>
    <br/>

  <span class='heading'> ககர வருக்கம் </span>
<p>   <%=generate_paadal_heading(32, "<span class='h2'>க</span>டிவது மற.") %>
<p>   <%=generate_paadal_heading(33, "<span class='h2'>கா</span>ப்பது விரதம்.") %>
<p>   <%=generate_paadal_heading(34, "<span class='h2'>கி</span>ழமைப்பட வாழ்.") %>
<p>   <%=generate_paadal_heading(35, "<span class='h2'>கீ</span>ழ்மை அகற்று.") %>
<p>   <%=generate_paadal_heading(36, "<span class='h2'>கு</span>ணமது கைவிடேல்.") %>

<p>   <%=generate_paadal_heading(37, "<span class='h2'>கூ</span>டிப் பிரியேல்.") %>
<p>   <%=generate_paadal_heading(38, "<span class='h2'>கெ</span>டுப்பது ஓழி") %>
<p>   <%=generate_paadal_heading(39, "<span class='h2'>கே</span>ள்வி முயல்.") %>
<p>   <%=generate_paadal_heading(40, "<span class='h2'>கை</span>வினை கரவேல்.") %>
<p>   <%=generate_paadal_heading(41, "<span class='h2'>கொ</span>ள்ளை விரும்பேல்.") %>
<p>   <%=generate_paadal_heading(42, "<span class='h2'>கோ</span>தாட்டு ஒழி.") %>
<p>   <%=generate_paadal_heading(43, "<span class='h2'>கௌ</span>வை அகற்று.") %>
      </a><br/>
      <span class='heading'> சகர வருக்கம்</span>
    <p>   <%=generate_paadal_heading(44, "<span class='h2'>ச</span>க்கர நெறி நில்.") %>
    <p>   <%=generate_paadal_heading(45, "<span class='h2'>சா</span>ன்றோர் இனத்து இரு.") %>
    <p>   <%=generate_paadal_heading(46, "<span class='h2'>சி</span>த்திரம் பேசேல்.") %>

    <p>   <%=generate_paadal_heading(47, "<span class='h2'>சீ</span>ர்மை மறவேல்.") %>
    <p>   <%=generate_paadal_heading(48, "<span class='h2'>சு</span>ளிக்கச் சொல்லேல்.") %>
    <p>   <%=generate_paadal_heading(49, "<span class='h2'>சூ</span>து விரும்பேல்.") %>
    <p>   <%=generate_paadal_heading(50, "<span class='h2'>செ</span>ய்வன திருந்தச் செய்.") %>
    <p>   <%=generate_paadal_heading(51, "<span class='h2'>சே</span>ரிடம் அறிந்து சேர்.") %>
    <p>   <%=generate_paadal_heading(52, "<span class='h2'>சை</span>யெனத் திரியேல்.") %>

    <p>   <%=generate_paadal_heading(53, "<span class='h2'>சொ</span>ற் சோர்வு படேல்.") %>
    <p>   <%=generate_paadal_heading(54, "<span class='h2'>சோ</span>ம்பித் திரியேல்.") %>
  </a><br/>
  <span class='heading'> தகர வருக்கம்</span>
<p>   <%=generate_paadal_heading(55, "<span class='h2'>த</span>க்கோன் எனத் திரி.") %>
<p>   <%=generate_paadal_heading(56, "<span class='h2'>தா</span>னமது விரும்பு.") %>
<p>   <%=generate_paadal_heading(57, "<span class='h2'>தி</span>ருமாலுக்கு அடிமை செய்.") %>
<p>   <%=generate_paadal_heading(58, "<span class='h2'>தீ</span>வினை அகற்று.") %>
<p>   <%=generate_paadal_heading(59, "<span class='h2'>து</span>ன்பத்திற்கு இடம் கொடேல்.") %>
<p>   <%=generate_paadal_heading(60, "<span class='h2'>தூ</span>க்கி வினை செய்.") %>
<p>   <%=generate_paadal_heading(61, "<span class='h2'>தெ</span>ய்வம் இகழேல்.") %>
<p>   <%=generate_paadal_heading(62, "<span class='h2'>தே</span>சத்தோடு ஒட்டி வாழ்.") %>
<p>   <%=generate_paadal_heading(63, "<span class='h2'>தை</span>யல் சொல் கேளேல்.") %>
<p>   <%=generate_paadal_heading(64, "<span class='h2'>தொ</span>ன்மை மறவேல்.") %>
<p>   <%=generate_paadal_heading(65, "<span class='h2'>தோ</span>ற்பன தொடரேல்.") %>
      </a><br/>
      <span class='heading'> நகர வருக்கம் </span>
    <p>   <%=generate_paadal_heading(66, "<span class='h2'>ந</span>ன்மை கடைப்பிடி.") %>
    <p>   <%=generate_paadal_heading(67, "<span class='h2'>நா</span>டு ஒப்பன செய்.") %>

    <p>   <%=generate_paadal_heading(68, "<span class='h2'>நி</span>லையில் பிரியேல்.") %>
    <p>   <%=generate_paadal_heading(69, "<span class='h2'>நீ</span>ர் விளையாடேல்.") %>
    <p>   <%=generate_paadal_heading(70, "<span class='h2'>நு</span>ண்மை நுகரேல்.") %>
    <p>   <%=generate_paadal_heading(71, "<span class='h2'>நூ</span>ல் பல கல்.") %>
    <p>   <%=generate_paadal_heading(72, "<span class='h2'>நெ</span>ற்பயிர் விளைவு செய்.") %>
    <p>   <%=generate_paadal_heading(73, "<span class='h2'>நே</span>ர்பட ஒழுகு.") %>

    <p>   <%=generate_paadal_heading(74, "<span class='h2'>நை</span>வினை நணுகேல்.") %>
    <p>   <%=generate_paadal_heading(75, "<span class='h2'>நொ</span>ய்ய உரையேல்.") %>
    <p>   <%=generate_paadal_heading(76, "<span class='h2'>நோ</span>ய்க்கு இடம் கொடேல்.") %>
  </a><br/>
  <span class='heading'> பகர வருக்கம் </span></b>
<p>   <%=generate_paadal_heading(77, "<span class='h2'>ப</span>ழிப்பன பகரேல்.") %>
<p>   <%=generate_paadal_heading(78, "<span class='h2'>பா</span>ம்பொடு பழகேல்.") %>

<p>   <%=generate_paadal_heading(79, "<span class='h2'>பி</span>ழைபடச் சொல்லேல்.") %>
<p>   <%=generate_paadal_heading(80, "<span class='h2'>பீ</span>டு பெற நில்.") %>
<p>   <%=generate_paadal_heading(81, "<span class='h2'>பு</span>கழ்ந்தாரைப் போற்றி வாழ்.") %>
<p>   <%=generate_paadal_heading(82, "<span class='h2'>பூ</span>மி திருத்தி உண்.") %>
<p>   <%=generate_paadal_heading(83, "<span class='h2'>பெ</span>ரியாரைத் துணைக் கொள்.") %>
<p>   <%=generate_paadal_heading(84, "<span class='h2'>பே</span>தைமை அகற்று.") %>

<p>   <%=generate_paadal_heading(85, "<span class='h2'>பை</span>யலோடு இணங்கேல்.") %>
<p>   <%=generate_paadal_heading(86, "<span class='h2'>பொ</span>ருள்தனைப் போற்றி வாழ்.") %>
<p>   <%=generate_paadal_heading(87, "<span class='h2'>போ</span>ர்த் தொழில் புரியேல்.") %>
      </a><br/>
      <span class='heading'> மகர வருக்கம் </span>
      <p>   <%=generate_paadal_heading(88, "<span class='h2'>ம</span>னம் தடுமாறேல்.") %>

    <p>   <%=generate_paadal_heading(89, "<span class='h2'>மா</span>ற்றானுக்கு இடம் கொடேல்.") %>
    <p>   <%=generate_paadal_heading(90, "<span class='h2'>மி</span>கைபடச் சொல்லேல்.") %>
    <p>   <%=generate_paadal_heading(91, "<span class='h2'>மீ</span>தூண் விரும்பேல்.") %>
    <p>   <%=generate_paadal_heading(92, "<span class='h2'>மு</span>னைமுகத்து நில்லேல்.") %>
    <p>   <%=generate_paadal_heading(93, "<span class='h2'>மூ</span>ர்க்கரோடு இணங்கேல்.") %>
    <p>   <%=generate_paadal_heading(94, "<span class='h2'>மெ</span>ல்லி நல்லாள் தோள்சேர்.") %>

    <p>   <%=generate_paadal_heading(95, "<span class='h2'>மே</span>ன்மக்கள் சொல் கேள்.") %>
    <p>   <%=generate_paadal_heading(96, "<span class='h2'>மை</span>விழியார் மனை அகல்.") %>
    <p>   <%=generate_paadal_heading(97, "<span class='h2'>மொ</span>ழிவது அற மொழி.") %>
    <p>   <%=generate_paadal_heading(98, "<span class='h2'>மோ</span>கத்தை முனி.") %>
  </a><br/>
  <span class='heading'> வகர வருக்கம் </span>

<p>   <%=generate_paadal_heading(99, "<span class='h2'>வ</span>ல்லமை பேசேல்.") %>
<p>   <%=generate_paadal_heading(100, "<span class='h2'>வா</span>து முற்கூறேல்.") %>
<p>   <%=generate_paadal_heading(101, "<span class='h2'>வி</span>த்தை விரும்பு.") %>
<p>   <%=generate_paadal_heading(102, "<span class='h2'>வீ</span>டு பெற நில்.") %>
<p>   <%=generate_paadal_heading(103, "<span class='h2'>உ</span>த்தமனாய் இரு.") %>
<p>   <%=generate_paadal_heading(104, "<span class='h2'>ஊ</span>ருடன் கூடி வாழ்.") %>

<p>   <%=generate_paadal_heading(105, "<span class='h2'>வெ</span>ட்டெனப் பேசேல்.") %>
<p>   <%=generate_paadal_heading(106, "<span class='h2'>வே</span>ண்டி வினை செயேல்.") %>
<p>   <%=generate_paadal_heading(107, "<span class='h2'>வை</span>கறைத் துயில் எழு.") %>
<p>   <%=generate_paadal_heading(108, "<span class='h2'>ஒ</span>ன்னாரைத் தேறேல்.") %>
<p>   <%=generate_paadal_heading(109, "<span class='h2'>ஓ</span>ரம் சொல்லேல்.") %>
</a>
        </div>
