<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w<p>org/1999/xhtml">
    <head>
      <title>ஆத்திசூடி </title>
      <meta name="robots" content="index, follow" />
      <meta http-equiv="content-type" content="text/html;charset=utf-8" />
      <meta name="author" content="RapidxHTML" />
      <link href="stylesheets/compiled/screen.css" rel="stylesheet" type="text/css" />
      <!--[if lte IE 7]><link href="stylesheets/iehacks.css" rel="stylesheet" type="text/css" /><![endif]-->
      <script type="text/javascript" src="javascripts/jquery.js"></script>
      <!--[if IE 6]>
      <script type="text/javascript" src="javascripts/ie6pngfix.js"></script>
      <script type="text/javascript">
        DD_belatedPNG.fix('img, ul, ol, li, div, p, a, h1, h2, h3, h4, h5, h6');
        $('#logo').FontEffect({
gradient: true
});
</script>
<![endif]-->
<script type='text/javascript'>
</script>
  </head>

  <body id="page">

    <!-- wrapper -->
    <div class="rapidxwpr floatholder">

      <!-- main body -->
      <div id="middle">

        <!-- left column -->
        <div id="left" class="clearingfix">

          <!-- menu -->
          <div class="side-text">
             ஆத்திசூடி சங்க காலத்தில் வாழ்ந்த பெண் புலவர் ஆன ஒளவையாரால் இயற்ற பட்டது.
          </div>
          <!-- / menu -->

        </div>
        <!-- / left column -->

        <!-- content column -->
        <div id='logo-container'>
          <div class='logo'>
            ஆத்திசூடி
          </div>
        </div>

        <div id="main">

          <div id="main_container" class="clearingfix">
            <div id="mainmiddle" class="floatbox withright">

              <div id="intro">
              <span class='heading'>கடவுள் வாழ்த்து </span>

              <span class='prayer'>

                <p>ஆத்தி சூடி அமர்ந்த தேவனை <br/>
                  ஏத்தி ஏத்தித் தொழுவோம் யாமே.
                </p>

              </span>

              </div>

              <div id="content">

              <span class='heading'> உயிர் வருக்கம் </span>

            <p> <a href='<%=wiki_path(1) %>'>  <h2>அ</h2>றம் செய விரும்பு. </a>
            <p> <a href='<%=wiki_path(2) %>'>  <h2>ஆ</h2>றுவது சினம்.
            <p> <a href='<%=wiki_path(3) %>'>  <h2>இ</h2>யல்வது கரவேல்.
            <p> <a href='<%=wiki_path(4) %>'>  <h2>ஈ</h2>வது விலக்கேல்.
            <p> <a href='<%=wiki_path(5) %>'>  <h2>உ</h2>டையது விளம்பேல்.
            <p> <a href='<%=wiki_path(6) %>'>  <h2>ஊ</h2>க்கமது கைவிடேல்.
            <p> <a href='<%=wiki_path(7) %>'>  <h2>எ</h2>ண் எழுத்து இகழேல்.
            <p> <a href='<%=wiki_path(8) %>'>  <h2>ஏ</h2>ற்பது இகழ்ச்சி.
            <p> <a href='<%=wiki_path(9) %>'>  <h2>ஐ</h2>யம் இட்டு உண்.

            <p> <a href='<%=wiki_path(10) %>'>  <h2>ஒ</h2>ப்புரவு ஒழுகு.
            <p> <a href='<%=wiki_path(11) %>'>  <h2>ஓ</h2>துவது ஒழியேல்.
            <p> <a href='<%=wiki_path(12) %>'>  <h2>ஔ</h2>வியம் பேசேல்.
            <p> <a href='<%=wiki_path(13) %>'>  <h2>அஃ</h2>கம் சுருக்கேல்.

        <br/>
              <span class='heading'> உயிர்மெய் வருக்கம் </span>


    <p> <a href='<%=wiki_path(14) %>'>  <h2>க</h2>ண்டொன்று சொல்லேல்.
    <p> <a href='<%=wiki_path(15) %>'>  <h2>ங</h2>ப் போல் வளை.
    <p> <a href='<%=wiki_path(16) %>'>  <h2>ச</h2>னி நீராடு.
    <p> <a href='<%=wiki_path(17) %>'>  <h2>ஞ</h2>யம்பட உரை.
    <p> <a href='<%=wiki_path(18) %>'>  <h2>இ</h2>டம்பட வீடு எடேல்.
    <p> <a href='<%=wiki_path(19) %>'>  <h2>இ</h2>ணக்கம் அறிந்து இணங்கு.

    <p> <a href='<%=wiki_path(20) %>'>  <h2>த</h2>ந்தை தாய்ப் பேண்.
    <p> <a href='<%=wiki_path(21) %>'>  <h2>ந</h2>ன்றி மறவேல்.
    <p> <a href='<%=wiki_path(22) %>'>  <h2>ப</h2>ருவத்தே பயிர் செய்.
    <p> <a href='<%=wiki_path(23) %>'>  <h2>ம</h2>ண் பறித்து உண்ணேல்.
    <p> <a href='<%=wiki_path(24) %>'>  <h2>இ</h2>யல்பு அலாதன செய்யேல்.
    <p> <a href='<%=wiki_path(25) %>'>  <h2>அ</h2>ரவம் ஆட்டேல்.

    <p> <a href='<%=wiki_path(26) %>'>  <h2>இ</h2>லவம் பஞ்சில் துயில்.
    <p> <a href='<%=wiki_path(27) %>'>  <h2>வ</h2>ஞ்சகம் பேசேல்.
    <p> <a href='<%=wiki_path(28) %>'>  <h2>அ</h2>ழகு அலாதன செய்யேல்.
    <p> <a href='<%=wiki_path(29) %>'>  <h2>இ</h2>ளமையில் கல்.
    <p> <a href='<%=wiki_path(30) %>'>  <h2>அ</h2>ரனை மறவேல்.
    <p> <a href='<%=wiki_path(31) %>'>  <h2>அ</h2>னந்தல் ஆடேல்.

    <br/>

  <span class='heading'> ககர வருக்கம் </span>
<p> <a href='<%=wiki_path(32) %>'>  <h2>க</h2>டிவது மற.
<p> <a href='<%=wiki_path(33) %>'>  <h2>கா</h2>ப்பது விரதம்.
<p> <a href='<%=wiki_path(34) %>'>  <h2>கி</h2>ழமைப்பட வாழ்.
<p> <a href='<%=wiki_path(35) %>'>  <h2>கீ</h2>ழ்மை அகற்று.
<p> <a href='<%=wiki_path(36) %>'>  <h2>கு</h2>ணமது கைவிடேல்.

<p> <a href='<%=wiki_path(37) %>'>  <h2>கூ</h2>டிப் பிரியேல்.
<p> <a href='<%=wiki_path(38) %>'>  <h2>கெ</h2>டுப்பது ஓழி
<p> <a href='<%=wiki_path(39) %>'>  <h2>கே</h2>ள்வி முயல்.
<p> <a href='<%=wiki_path(40) %>'>  <h2>கை</h2>வினை கரவேல்.
<p> <a href='<%=wiki_path(41) %>'>  <h2>கொ</h2>ள்ளை விரும்பேல்.
<p> <a href='<%=wiki_path(42) %>'>  <h2>கோ</h2>தாட்டு ஒழி.

<p> <a href='<%=wiki_path(43) %>'>  <h2>கௌ</h2>வை அகற்று.
      <br/>
      <span class='heading'> சகர வருக்கம்</span>
    <p> <a href='<%=wiki_path(44) %>'>  <h2>ச</h2>க்கர நெறி நில்.
    <p> <a href='<%=wiki_path(45) %>'>  <h2>சா</h2>ன்றோர் இனத்து இரு.
    <p> <a href='<%=wiki_path(46) %>'>  <h2>சி</h2>த்திரம் பேசேல்.

    <p> <a href='<%=wiki_path(47) %>'>  <h2>சீ</h2>ர்மை மறவேல்.
    <p> <a href='<%=wiki_path(48) %>'>  <h2>சு</h2>ளிக்கச் சொல்லேல்.
    <p> <a href='<%=wiki_path(49) %>'>  <h2>சூ</h2>து விரும்பேல்.
    <p> <a href='<%=wiki_path(50) %>'>  <h2>செ</h2>ய்வன திருந்தச் செய்.
    <p> <a href='<%=wiki_path(51) %>'>  <h2>சே</h2>ரிடம் அறிந்து சேர்.
    <p> <a href='<%=wiki_path(52) %>'>  <h2>சை</h2>யெனத் திரியேல்.

    <p> <a href='<%=wiki_path(53) %>'>  <h2>சொ</h2>ற் சோர்வு படேல்.
    <p> <a href='<%=wiki_path(54) %>'>  <h2>சோ</h2>ம்பித் திரியேல்.
  <br/>
  <span class='heading'> தகர வருக்கம்</span>
<p> <a href='<%=wiki_path(55) %>'>  <h2>த</h2>க்கோன் எனத் திரி.
<p> <a href='<%=wiki_path(56) %>'>  <h2>தா</h2>னமது விரும்பு.

<p> <a href='<%=wiki_path(57) %>'>  <h2>தி</h2>ருமாலுக்கு அடிமை செய்.
<p> <a href='<%=wiki_path(58) %>'>  <h2>தீ</h2>வினை அகற்று.
<p> <a href='<%=wiki_path(59) %>'>  <h2>து</h2>ன்பத்திற்கு இடம் கொடேல்.
<p> <a href='<%=wiki_path(60) %>'>  <h2>தூ</h2>க்கி வினை செய்.
<p> <a href='<%=wiki_path(61) %>'>  <h2>தெ</h2>ய்வம் இகழேல்.
<p> <a href='<%=wiki_path(62) %>'>  <h2>தே</h2>சத்தோடு ஒட்டி வாழ்.

<p> <a href='<%=wiki_path(63) %>'>  <h2>தை</h2>யல் சொல் கேளேல்.
<p> <a href='<%=wiki_path(64) %>'>  <h2>தொ</h2>ன்மை மறவேல்.
<p> <a href='<%=wiki_path(65) %>'>  <h2>தோ</h2>ற்பன தொடரேல்.
      <br/>
      <span class='heading'> நகர வருக்கம் </span>
    <p> <a href='<%=wiki_path(66) %>'>  <h2>ந</h2>ன்மை கடைப்பிடி.
    <p> <a href='<%=wiki_path(67) %>'>  <h2>நா</h2>டு ஒப்பன செய்.

    <p> <a href='<%=wiki_path(68) %>'>  <h2>நி</h2>லையில் பிரியேல்.
    <p> <a href='<%=wiki_path(69) %>'>  <h2>நீ</h2>ர் விளையாடேல்.
    <p> <a href='<%=wiki_path(70) %>'>  <h2>நு</h2>ண்மை நுகரேல்.
    <p> <a href='<%=wiki_path(71) %>'>  <h2>நூ</h2>ல் பல கல்.
    <p> <a href='<%=wiki_path(72) %>'>  <h2>நெ</h2>ற்பயிர் விளைவு செய்.
    <p> <a href='<%=wiki_path(73) %>'>  <h2>நே</h2>ர்பட ஒழுகு.

    <p> <a href='<%=wiki_path(74) %>'>  <h2>நை</h2>வினை நணுகேல்.
    <p> <a href='<%=wiki_path(75) %>'>  <h2>நொ</h2>ய்ய உரையேல்.
    <p> <a href='<%=wiki_path(76) %>'>  <h2>நோ</h2>ய்க்கு இடம் கொடேல்.
  <br/>
  <span class='heading'> பகர வருக்கம் </span></b>
<p> <a href='<%=wiki_path(77) %>'>  <h2>ப</h2>ழிப்பன பகரேல்.
<p> <a href='<%=wiki_path(78) %>'>  <h2>பா</h2>ம்பொடு பழகேல்.

<p> <a href='<%=wiki_path(79) %>'>  <h2>பி</h2>ழைபடச் சொல்லேல்.
<p> <a href='<%=wiki_path(80) %>'>  <h2>பீ</h2>டு பெற நில்.
<p> <a href='<%=wiki_path(81) %>'>  <h2>பு</h2>கழ்ந்தாரைப் போற்றி வாழ்.
<p> <a href='<%=wiki_path(82) %>'>  <h2>பூ</h2>மி திருத்தி உண்.
<p> <a href='<%=wiki_path(83) %>'>  <h2>பெ</h2>ரியாரைத் துணைக் கொள்.
<p> <a href='<%=wiki_path(84) %>'>  <h2>பே</h2>தைமை அகற்று.

<p> <a href='<%=wiki_path(85) %>'>  <h2>பை</h2>யலோடு இணங்கேல்.
<p> <a href='<%=wiki_path(86) %>'>  <h2>பொ</h2>ருள்தனைப் போற்றி வாழ்.
<p> <a href='<%=wiki_path(87) %>'>  <h2>போ</h2>ர்த் தொழில் புரியேல்.
      <br/>
      <span class='heading'> மகர வருக்கம் </span>
    <p> <a href='<%=wiki_path(88) %>'>  <h2>ம</h2>னம் தடுமாறேல்.

    <p> <a href='<%=wiki_path(89) %>'>  <h2>மா</h2>ற்றானுக்கு இடம் கொடேல்.
    <p> <a href='<%=wiki_path(90) %>'>  <h2>மி</h2>கைபடச் சொல்லேல்.
    <p> <a href='<%=wiki_path(91) %>'>  <h2>மீ</h2>தூண் விரும்பேல்.
    <p> <a href='<%=wiki_path(92) %>'>  <h2>மு</h2>னைமுகத்து நில்லேல்.
    <p> <a href='<%=wiki_path(93) %>'>  <h2>மூ</h2>ர்க்கரோடு இணங்கேல்.
    <p> <a href='<%=wiki_path(94) %>'>  <h2>மெ</h2>ல்லி நல்லாள் தோள்சேர்.

    <p> <a href='<%=wiki_path(95) %>'>  <h2>மே</h2>ன்மக்கள் சொல் கேள்.
    <p> <a href='<%=wiki_path(96) %>'>  <h2>மை</h2>விழியார் மனை அகல்.
    <p> <a href='<%=wiki_path(97) %>'>  <h2>மொ</h2>ழிவது அற மொழி.
    <p> <a href='<%=wiki_path(98) %>'>  <h2>மோ</h2>கத்தை முனி.
  <br/>
  <span class='heading'> வகர வருக்கம் </span>

<p> <a href='<%=wiki_path(99) %>'>  <h2>வ</h2>ல்லமை பேசேல்.
<p> <a href='<%=wiki_path(100) %>'>  <h2>வா</h2>து முற்கூறேல்.
<p> <a href='<%=wiki_path(101) %>'>  <h2>வி</h2>த்தை விரும்பு.
<p> <a href='<%=wiki_path(102) %>'>  <h2>வீ</h2>டு பெற நில்.
<p> <a href='<%=wiki_path(103) %>'>  <h2>உ</h2>த்தமனாய் இரு.
<p> <a href='<%=wiki_path(104) %>'>  <h2>ஊ</h2>ருடன் கூடி வாழ்.

<p> <a href='<%=wiki_path(105) %>'>  <h2>வெ</h2>ட்டெனப் பேசேல்.
<p> <a href='<%=wiki_path(106) %>'>  <h2>வே</h2>ண்டி வினை செயேல்.
<p> <a href='<%=wiki_path(107) %>'>  <h2>வை</h2>கறைத் துயில் எழு.
<p> <a href='<%=wiki_path(108) %>'>  <h2>ஒ</h2>ன்னாரைத் தேறேல்.
<p> <a href='<%=wiki_path(109) %>'>  <h2>ஓ</h2>ரம் சொல்லேல்.

        </div>
        </div>
      </div>
    </div>
    <!-- / content column -->

  </div>
  <!-- / main body -->

  <!-- footer -->
  <div id="footer">
    &copy; 2011 | <a href="http://kanaiyaazhi.wordpress.com/">கணையாழி</a>
  </div>
  <!-- / footer -->

</div>
<!-- / wrapper -->

</body>
</html>
