.revision_user_info
  .sub_heading கீழ்கண்ட மாற்றங்களை இயற்றியவர்
  %table
    %tr
      %td
        %span.photo
          %img.profile_photo{:src => "#{@current_wiki_version.user.photo || '/images/default_photo.png' }"}
      %td
        .user_details
          %ul
            %li
              = @current_wiki_version.user.name
            %li
              சமர்ப்பித்த திருத்தங்கள் :
              = @current_wiki_version.user.accepted_count
            %li
              &nbsp;

.sub_heading
  %u முந்திய வடிவுருடன் ஒப்புமை
- Wiki.essential_attribute_names.each do |attribute|
  %p
    = label(:wiki_version, attribute)
    #differ= raw generate_diff(@current_wiki_version.send(attribute), @previous_wiki_version.send(attribute))
