= render :partial => 'common/edit_elements'
= render :partial => 'common/indic'
= simple_form_for @wiki do |w|
  = w.input :paadal, :label => 'பாடல்'
  = w.input :paadal_english, :label => "ஆங்கில எழுத்து பிரிதி", :input_html => {"MicrosoftILITWebAttach" => "false"}
  = w.input :tamil_short_desc, :label => "பாடலின் விளக்கம்"
  = w.input :english_short_desc, :label => "பாடலின் விளக்கம் (ஆங்கிலத்தில்)"
  = w.input :tamil_long_desc, :as => :text, :label => "விளக்கம்", :input_html => {:cols => 48}
  = w.button :submit, :class => 'save_button', :value => 'சேமி'
