= render :partial => 'common/indic'

- if current_user.accepted_count.zero?
  :javascript
    $(document).ready(function(){
        control_by_cookie('pre_wiki_edit', function(){
         apprise('#{t(:pre_wiki_edit)}');
      });
    });

- unless flash[:alert].blank?
  .alert= flash[:alert]

- if @draft
  .alert இந்த பாடலுக்காக நீங்கள் சமர்பித்த  முந்திய திருத்தங்கள் ஒப்புதலுக்காக முன்வைக்க பட்டுள்ளன. தற்போது செய்யும்  மாற்றங்கள் அதனுடன் இணைக்கப்படும்...

= simple_form_for @wiki, do |w|
  = w.button :submit, :class => 'save_button', :value => 'மாற்றத்தை சேமி'
  .clear
  = w.input :paadal, :label => 'பாடல்'
  = w.input :paadal_english, :label => "ஆங்கில எழுத்து பிரிதி", :input_html => {"MicrosoftILITWebAttach" => "false"}
  = w.input :tamil_short_desc, :label => "பாடலின் விளக்கம்"
  = w.input :english_short_desc, :label => "பாடலின் விளக்கம் (ஆங்கிலத்தில்)", :input_html => {"MicrosoftILITWebAttach" => "false"}
  = w.input :tamil_long_desc, :as => :text, :label => "விளக்கம்", :input_html => {:cols => 50}
  = w.button :submit, :class => 'save_button', :value => 'மாற்றத்தை சேமி'
