.paadal.inline
  = @wiki.paadal
%span.float_right.margin_right_10.margin_top_10
  %a{:href=> edit_wiki_path(params[:id])}
    %button தொகுக்க/edit
.hline
.paadal_english
  = @wiki.paadal_english


.container
  = @wiki.tamil_short_desc
  %br
  = @wiki.english_short_desc
  %br
  .hline
  %i
    = @wiki.tamil_long_desc * 10
