= javascript_include_tag 'wiki_show'
= javascript_include_tag 'versions_diff'

- unless flash[:notice].blank?
  .notice= flash[:notice]

#history_container


%span.history_button
  %a.hand_cursor{:url => wiki_version_history_path(params[:id]), :id  => 'history_button'}
    %img.history{:src => '/images/view_versions.png'}

%span.action_button
  %a{:href=> edit_wiki_path(params[:id])}
    %img.edit{:src => '/images/edit.png'}

%span.action_button
  %a{:href=> go_back_path(params[:id].to_i)}
    %img.edit{:src => '/images/first.png'}

.clear
.paadal
  = @wiki.paadal
.hline
.paadal_english
  = @wiki.paadal_english

.desc_container
  = @wiki.tamil_short_desc
  %br
  = @wiki.english_short_desc

- unless @wiki.tamil_long_desc.blank?
  .wiki_container
    %p{:style => 'text-align: justify;'}
      = raw @wiki.tamil_long_desc_html

