%span.edit_button
  %a{:href=> edit_wiki_path(params[:id])}
    %button திருத்து

.paadal
  = @wiki.paadal
.hline
.paadal_english
  = @wiki.paadal_english

.desc_container
  = @wiki.tamil_short_desc
  %br
  = @wiki.english_short_desc

.container
  %i
    = @wiki.tamil_long_desc

%button
  %a{:href=> root_path}
    %span.back_button முதற்பக்கம்
