.paadal
  = @wiki.paadal
.hline
.paadal_english
  = @wiki.paadal_english

.container
  = @wiki.tamil_short_desc
  %br
  = @wiki.english_short_desc
  %br
  .hline
  %i
    = @wiki.tamil_long_desc * 10
