- unless flash[:notice].blank?
  .notice= flash[:notice]

%span.edit_button
  %a{:href=> edit_wiki_path(params[:id])}
    %img.edit{:src => '/images/edit.png'}

.paadal
  = @wiki.paadal
.hline
.paadal_english
  = @wiki.paadal_english

.desc_container
  = @wiki.tamil_short_desc
  %br
  = @wiki.english_short_desc

- unless @wiki.tamil_long_desc.blank?
  .wiki_container
    %i= @wiki.tamil_long_desc

.home_link
  %a{:href=> root_path}
    %img.home{:src => '/images/home.png'}
    முதற்பக்கம்
