<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
  <meta name='title' content="அறம் செய விரும்பு"/>
  <meta name='description' content="ஒளவையாரின் ஆத்திச்சூடி, அதற்கான எளிய விளக்கவுரை மற்றும் ஆங்கில மொழிப்பெயர்ப்பு, அதன்மீதான பயனுள்ள விவாதங்கள் மற்றும் வாசகர் கருத்துக்கள் – அனைத்தையும் ஒருங்கே பார்க்க, ரசிக்க, பங்களிக்க, பதிலளிக்க… "/>
  <meta property='og:url' content='<%= root_url %>' />
  <meta property='og:type' content='article' />
  <meta property='og:image' content='<%= "#{root_url}/images/alphabet.jpg" %>' />
   <link rel="image_src" type="image/jpeg" href="<%= "#{root_url}/images/alphabet.jpg" %>" />

  <title>ஆத்திசூடி</title>
  <%= render :partial => 'common/header' %>
  <%= csrf_meta_tag %>
</head>

<body id="page">

<!-- wrapper -->
<div class="rapidxwpr floatholder">

  <!-- main body -->
  <div id="middle">

    <%= render :partial => 'common/menu' %>

    <div id='main'>


      <div id="left_pane">
        <a href="http://www.facebook.com/sharer.php?u=<%= root_url %>" target='_blank'>
           <img src='/images/facebook_share.png' />
        </a>
        <a href="http://twitter.com/intent/tweet?text=<%= t(:tweet) %>" target='_blank'>
            <img src='/images/twitter_share.png' />
        </a>
        <a href="mailto:?subject=ஆத்திச்சுடிக்கான%20புதிய%20விக்கி!!!&body=ஒளவையாரின் ஆத்திச்சூடி, அதற்கான எளிய விளக்கவுரை மற்றும் ஆங்கில மொழிப்பெயர்ப்பு, அதன்மீதான பயனுள்ள விவாதங்கள் மற்றும் வாசகர் கருத்துக்கள் – அனைத்தையும் ஒருங்கே பார்க்க, ரசிக்க, பங்களிக்க, பதிலளிக்க - www.aramseyavirumbu.com">
            <img src='/images/mail_share.png' />
        </a>
      </div>


      <div id="main_container" class="clearingfix">
        <div id="mainmiddle" class="floatbox withright">
          <%= yield %>
        </div>
      </div>

    </div>

  </div>

</div>
 <!--footer-->
<div id="footer">
  &copy; 2011 | <a href="http://kanaiyaazhi.wordpress.com/">கணையாழி</a>
</div>
 <!--/ footer-->
<%= javascript_include_rpx(user_session_url) %>

<%= render :partial => 'common/mugavurai' %>
<%= render :partial => 'common/about_site' %>

<%= render :partial => 'common/google_analytics' %>


</body>

</html>
