<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
  <meta name='title' content="அறம் செய விரும்பு"/>
  <meta name="keywords" content="aathisoodi,aathichoodi,tamil,paadal,poem,avvaiyar,wiki,literature">
  <meta name='description' content="ஒளவையாரின் ஆத்திச்சூடி, அதற்கான எளிய விளக்கவுரை மற்றும் ஆங்கில மொழிப்பெயர்ப்பு, அதன்மீதான பயனுள்ள விவாதங்கள் மற்றும் வாசகர் கருத்துக்கள் – அனைத்தையும் ஒருங்கே பார்க்க, ரசிக்க, பங்களிக்க, பதிலளிக்க… "/>
  <meta property='og:url' content='<%= root_url %>' />
  <meta property='og:type' content='article' />
  <meta property='og:image' content='<%= "#{root_url}/images/alphabet.jpg" %>' />
   <link rel="image_src" type="image/jpeg" href="<%= "#{root_url}/images/alphabet.jpg" %>" />

  <title>ஆத்திசூடி - Aathichoodi</title>
  <%= render :partial => 'common/header' %>
  <%= csrf_meta_tag %>
</head>

<body id="page">

<!-- wrapper -->
<div class="rapidxwpr floatholder">

  <!-- main body -->
  <div id="middle">

    <%= render :partial => 'common/menu' %>

    <div id='main'>


      <div id="left_pane">
        <div class="share_text">நண்பர்களுடன் பகிர்ந்து கொள்ள...</div>
        <a href="http://www.facebook.com/sharer.php?u=<%= root_url %>" target='_blank'>
           <img src='/images/facebook_share.png' />
        </a>
        <a href="http://twitter.com/intent/tweet?text=<%= t(:tweet) %>" target='_blank'>
            <img src='/images/twitter_share.png' />
        </a>
        <a href="mailto:?subject=ஆத்திச்சுடிக்கான%20புதிய%20விக்கி!!!&body=ஒளவையாரின் ஆத்திச்சூடி, அதற்கான எளிய விளக்கவுரை மற்றும் ஆங்கில மொழிப்பெயர்ப்பு, அதன்மீதான பயனுள்ள விவாதங்கள் மற்றும் வாசகர் கருத்துக்கள் – அனைத்தையும் ஒருங்கே பார்க்க, ரசிக்க, பங்களிக்க, பதிலளிக்க - www.aramseyavirumbu.com">
            <img src='/images/mail_share.png' />
        </a>

        <%- if current_user %>
            <div id="user_details">
              <span class="title_photo"><img class="title_profile_photo" src="<%= current_user.photo || '/images/default_photo.png' %>" /></span>
              <div class='user_details'>
                <ul>
                  <li>
                    <b> <%= current_user.email %> </b>
                  </li>
                  <li>
                      <%- if current_user.accepted_count && current_user.accepted_count > 0  %>
                           பங்களிப்புகள்:
                           <%= current_user.accepted_count %>
                      <%- end %>
                  </li>
                  <li>
                    <div class='welcome'>ஒரு வளமான ஆரோக்கியமான களஞ்சியத்தை தமிழுக்கு சமர்ப்பிப்போம். வருகைக்கு நன்றி.</div>
                  </li>
                </ul>
              </div>


            </div>
        <%- else %>
            <div id="user_details">
              <div class='welcome'>வருகைக்கு நன்றி! ஒவ்வொரு பாடலுக்கான விளக்கவுரை மற்றும் மொழிப்பெயர்ப்பை காண/மேம்படுத்த பாடலின் மேல் 
                <img src='/images/hand.png' class='hand'>அழுத்தவும்.</div>
            </div>
        <%- end %>
      </div>


      <div id="main_container" class="clearingfix">
        <div id="mainmiddle" class="floatbox withright">
          <%= yield %>
        </div>
        <div id="mainbottom">
      </div>

    </div>

  </div>

</div>
 <!--footer-->
<div id="footer">
  &copy; 2011 | கணையாழி
</div>
 <!--/ footer-->

<%= render :partial => 'common/mugavurai' %>
<%= render :partial => 'common/about_site' %>

<%= render :partial => 'common/google_analytics' %>


</body>

</html>
